body {
	margin:auto;
	max-width: 1000px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height:600px;
	background-color: lightblue;
}

.left {
	width: 25%;
	background-color: red;
	margin:50px 20px;
	height:500px;
}

.main {
	width: 50%;
	background-color: blue;
	margin:50px 20px;
	height:500px;
}
.right {
	width: 25%;
	background-color: purple;
	margin:50px 20px;
	height:500px;
}